DATABASE_URL="postgresql://postgres:postgres@localhost:5432/meetscheduledb?schema=public"

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=meetscheduledb

JWT_SECRET="super-secret-contest-key-change-in-production"
JWT_EXPIRES_IN="7d"

NEXT_PUBLIC_APP_URL="http://localhost:3000"

MAX_ADVANCE_BOOKING_DAYS=60
OFFICE_TIMEZONE="Europe/Kyiv"